# Maven target folder
/target/

# Test reports
/reports/*
!/reports/.gitkeep

# TestNG output
/test-output/

# IDE settings
.idea/
*.iml
*.classpath
*.project
.settings/
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Browser drivers
drivers/

